/*CSS For Loader*/
.loader-container {
  position: relative;
  top: 50%;
  left: 50%;
}
/*Header Component CSS*/
.header-container {
  box-shadow: 0 2px 10px #d0d3d4;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #dbecec;
  padding: 0 50px;
  font-size: 20px;
}
.header-container a {
  padding: 9px 10px;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
.header-container em {
  margin-right: 10px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}
/*Specs Card*/
.custom-card {
  box-shadow: 7px 6px 13px #D0D3D3;
  background-color: #dbecec;
  padding: 10px;
  margin-left: 2%;
  margin-bottom: 2%;
}
.custom-card.col-md-4 {
  width: 31%;
}
.custom-card .specs-briefs > span {
  display: block;
}
.custom-card .color-change-picker .circle-bullet {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.custom-card .color-change-picker .circle-bullet.circle-bullet-green {
  background-color: green;
}
.custom-card .color-change-picker .circle-bullet.circle-bullet-red {
  background-color: #ff0000;
}
.custom-card .color-change-picker .circle-bullet.circle-bullet-black {
  background-color: #000;
}
.custom-card .color-change-picker .circle-bullet.circle-bullet-white {
  background-color: white;
  border: 1px solid #000;
}
/*SpecsListing CSS*/
.listing-container {
  padding: 50px 0 0;
}
.listing-container .filter-section > div {
  position: fixed;
  width: 200px;
  border-right: 1px solid #d0d3d4;
  height: 100vh;
  padding-top: 15px;
}
.listing-container .listing-section {
  padding-left: 0;
}
.listing-container .listing-section .search-component-container {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right;
  margin-right: 15px;
}
.listing-container .listing-section .search-component-container input,
.listing-container .listing-section .search-component-container button {
  padding: 5px;
  top: 0;
}
.listing-container .listing-section .search-component-container input {
  border-bottom: 1px solid #000;
  min-width: 20%;
  margin-right: 10px;
  font-size: 15px;
  color: rgba(41, 40, 37, 0.66);
  caret-color: rgba(41, 40, 37, 0.66);
}
.listing-container .listing-section .search-component-container input::placeholder {
  color: #d0d3d4;
}
.listing-container .listing-section .search-component-container button {
  border: 1px solid #4a4a4a;
  background: #9ca1a2;
  font-size: 14px;
  color: black;
  padding: 5px 15px;
}
.listing-container .listing-section .search-component-container button:hover {
  background: #4a4a4a;
  color: #fff;
}
/*Filter Component CSS*/
.filter-container input[type="radio"] {
  display: none;
}
.filter-container .tab > label {
  display: block;
  background: #f5f4f4;
  padding: 10px 0 10px 10px;
  cursor: pointer;
}
.filter-container .tab > label:after {
  content: "\002b";
  position: relative;
  top: 2px;
  float: right;
  right: 13px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 100;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.filter-container .tab > input[type="radio"]:checked + label::after {
  content: "\2212";
}
.filter-container .tab > input[type="radio"]:checked .tab-content {
  display: block;
}
.filter-container .tab ul {
  margin-left: 25px;
  display: none;
}
/* Detail Page */
.detail-container {
  padding-top: 80px;
  display: block;
  float: left;
  width: 100%;
}
.detail-container .left-section {
  padding: 15px;
  position: fixed;
}
.detail-container .left-section .product-container {
  min-height: 400px;
  max-height: 400px;
}
.detail-container .left-section .product-container .carousel-container {
  min-height: 400px;
  width: 15%;
  margin: 0;
  float: left;
  border: 1px solid #d0d3d4;
  border-right: none;
  border-radius: 3px;
  padding: 2px;
}
.detail-container .left-section .product-container .carousel-container .card-thumbnail {
  max-height: 60px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1px;
  cursor: zoom-in;
}
.detail-container .left-section .product-container .carousel-container .card-thumbnail .img-thumbnail {
  border: none;
}
.detail-container .left-section .product-container .carousel-image-container {
  max-width: 85%;
  min-height: 400px;
  height: 400px;
  max-height: 400px;
  float: left;
  padding: 3%;
  border: 1px solid #d0d3d4;
  border-radius: 3px;
  box-shadow: 1px 4px 8px #d0d3d4;
  position: relative;
}
.detail-container .left-section .product-container .carousel-image-container .product-offer {
  position: absolute;
  top: 9px;
  left: 0;
  background: green;
  color: white;
  text-transform: uppercase;
  padding: 2px 10px;
  font-size: 12px;
}
.detail-container .left-section .product-container .carousel-image-container .wishList-btn {
  position: absolute;
  top: 9px;
  right: 4px;
  padding: 6px;
  border: 1px solid;
  border-radius: 50%;
  line-height: 0;
  font-size: 17px;
  color: #d0d3d4;
  cursor: pointer;
}
.detail-container .left-section .product-container .carousel-image-container .wishList-btn:hover {
  color: #da3c3c;
  border-color: #d0d3d4;
}
.detail-container .left-section .product-container .carousel-image-container .image-container {
  height: 100%;
}
.detail-container .left-section .product-container .carousel-image-container .image-container img {
  height: 100%;
  width: 100%;
}
.detail-container .right-section {
  margin-left: 33%;
}
.detail-container .right-section .product-heading {
  font-size: 20px;
  font-weight: bold;
}
.detail-container .right-section .head-rating-review span {
  display: inline-block;
  color: grey;
}
.detail-container .right-section .head-rating-review .rating-chip {
  background: green;
  color: white;
  padding: 2px 7px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  margin-right: 10px;
}
.detail-container .right-section .head-rating-review .rating-chip i {
  padding-left: 5px;
}
.detail-container .right-section .price span {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}
.detail-container .right-section .price del {
  display: inline-block;
  color: #d0d3d4;
  margin-right: 10px;
}
.detail-container .right-section .price .discount {
  color: green;
}
.detail-container .right-section .power-selection-section {
  border: 1px solid #d0d3d4;
  margin: 20px 0;
}
.detail-container .right-section .power-selection-section .power-type {
  border-right: 1px solid #d0d3d4;
  margin: 10px 0;
}
.detail-container .right-section .power-selection-section .power-type span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.detail-container .right-section .power-selection-section .power-type ul {
  margin-left: 20px;
}
.detail-container .right-section .power-selection-section .power-type ul input[type="radio"] {
  margin: 0;
  padding: 0;
  width: 15px;
  opacity: 0;
}
.detail-container .right-section .power-selection-section .power-type ul input[type="radio"] + label {
  display: inline-block;
  margin-left: 15px;
  font-weight: inherit;
  cursor: pointer;
}
.detail-container .right-section .power-selection-section .power-type ul input[type="radio"] + label > span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #d0d3d4;
  border-radius: 50%;
  padding: 1px;
  background-color: white;
  vertical-align: text-top;
  margin-right: 5px;
}
.detail-container .right-section .power-selection-section .power-type ul input[type="radio"]:checked + label > span > span {
  height: 11px;
  width: 11px;
  border: 3px solid #1ac7ff;
  border-radius: 50%;
  background: #1ac7ff;
}
.detail-container .right-section .power-selection-section .power-details {
  margin-top: 15px;
}
.detail-container .right-section .power-selection-section .power-details table {
  height: 300px;
}
.detail-container .right-section .power-selection-section .power-details td {
  padding: 0;
  vertical-align: middle;
  max-width: 40px;
  text-align: center;
}
.detail-container .right-section .power-selection-section .power-details input,
.detail-container .right-section .power-selection-section .power-details textarea {
  border: none;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.detail-container .right-section .power-selection-section .power-details input::placeholder,
.detail-container .right-section .power-selection-section .power-details textarea::placeholder {
  text-align: center;
  color: #d0d3d4;
}
.detail-container .right-section .power-selection-section .power-details textarea {
  height: 95%;
  text-align: left;
  resize: none;
}
.detail-container .right-section .product-desc {
  margin-left: 20px;
}
.detail-container .right-section .product-desc .caption {
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
}
.detail-container .right-section .suggestion-slider-section {
  padding: 20px 15px;
  border-top: 0.5px solid #d0d3d4;
  border-radius: 3px;
  margin-top: 20px;
}
.detail-container .right-section .suggestion-slider-section > p {
  font-size: 20px;
  font-weight: bold;
}
.detail-container .right-section .suggestion-slider-section .suggestion-slider .custom-card {
  width: 100%;
}
.detail-container .right-section .suggestion-slider-section .suggestion-slider .slick-arrow {
  z-index: 1;
}
.detail-container .right-section .suggestion-slider-section .suggestion-slider .slick-arrow.slick-prev {
  left: 2px;
}
.detail-container .right-section .suggestion-slider-section .suggestion-slider .slick-arrow.slick-next {
  right: 10px;
}
.detail-container .right-section .suggestion-slider-section .suggestion-slider .slick-arrow::before {
  color: black;
  font-size: 30px;
}
.detail-container .right-section .suggestion-slider-section .suggestion-slider .slick-dots {
  bottom: 0;
}
.detail-container .cart-buttons {
  display: flex;
  padding: 5%;
  justify-content: center;
  align-items: center;
}
.detail-container .cart-buttons .btn {
  background: white;
  border: 1px solid #d0d3d4;
  min-height: 50px;
  min-width: 180px;
  text-transform: uppercase;
}
.detail-container .cart-buttons .btn i {
  padding-right: 15px;
}
.detail-container .cart-buttons .add-cart-btn {
  margin-right: 20px;
}
/* Custom Slider*/
.slider-custom-style {
  max-height: 450px;
}
.slider-custom-style .slick-slide img {
  width: 100%;
}
.slider-custom-style .slick-arrow {
  z-index: 1;
}
.slider-custom-style .slick-arrow.slick-prev {
  left: 2px;
}
.slider-custom-style .slick-arrow.slick-next {
  right: 10px;
}
.slider-custom-style .slick-arrow::before {
  color: black;
  font-size: 30px;
}
.slider-custom-style .slick-dots {
  bottom: 0;
}
.error {
  border-color: red !important;
}
